.mob-location-component-image-container {
  width: 50px;
  height: 60px;
  margin-top: 10px;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}

.mob-location-component-enable-button-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #d42029;
  color: #fff;
  height: 40px;
  width: 90%;
  font-weight: 600;
  font-size: 13px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 8px; /* Adjust the position as needed */
  right: 6px; /* Adjust the position as needed */
  z-index: 10;
  /* Ensure it appears above the map */
}

.mob-location-component-search-loaction-container {
  margin-top: 10px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d42029;
  height: 38px;
  width: 90%;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid rgb(199, 195, 195);
  border-radius: 10px;
  cursor: pointer;
}
.custom-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #000; /* Adjust color as needed */
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer;
  padding: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.custom-close-button:focus,
.custom-close-button:active {
  outline: none;
  box-shadow: none;
}

/* .custom-button {
  overflow: auto;
} */

.mob-location-component-search-close-btn {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(199, 195, 195);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #d42029;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
  margin-top: 10px;
}

.mob-location-component-offcanvas {
  padding: 0 !important;
}

.text-secondary {
  text-align: justify;
  font-weight: 600;
  color: black;
}
